$primary: rgba(255, 255, 255, 0.87);
$secondary: hsla(138, 90%, 4%, 0.8);
$tertiary: dodgerblue;


:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: $primary;
  background-color: $secondary;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  // border: 1px solid red;
}

html,body, #root {
  height: 100vh;
}

body {
  display: flex;
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

header {
  width: 100%;
  text-align: center;
}

fieldset{
  border-color: khaki;
  text-align: center;
  margin: 20px 0;
}

legend{
  color: $tertiary;
  font-size: 1em;
  letter-spacing: 0.25em;
  margin: 0 auto;
}

#app--title{
  margin: 10px 0;
  color: $tertiary;
}

input{
  border-color: $secondary;
  background-color: $primary;
  padding: 5px 10px;
  color: $secondary;
  margin-bottom: 5px;
  font-size: 0.9em;
}

.left{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button {
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
  font-size: 0.8em;
  font-weight: 700;
  background-color: $secondary;
  border-color: $tertiary;
  color: $tertiary;
  transition: all 0.2s ease-in;
}

button:hover {
  color: $secondary;
  background-color: $tertiary;
}

h1 {
  margin-top: 20px;
  text-align: center;
}